:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(228, 70%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 96%);
    --light-grayish-blue-2: hsl(205, 60%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    font-size: 15px;

    display: grid;
    place-content: center;

    background-color: var(--very-light-grayish-blue);

    min-height: 100vh;
    min-width: 100vh;
}

main {
    background-color: var(--white);

    max-width: 725px;

    padding: 1em 2em;

    color: var(--very-dark-blue);

    border-radius: 15px;

    height: 100%;
}

/*//////////////
    Font
//////////////*/
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf') format('truetype');
  }
  
@font-face {
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
src: url('./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf') format('truetype');
}



/*//////////////
    Head
//////////////*/

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5em 0;
}

.head-sub-container{
    display: flex;
    align-items: center;
}

h1 {
    font-size: 1.5em;
}

.unread-num {
    display: inline;
    font-size: .8em;
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);
    padding: .1em .7em;

    border-radius: 5px;

    margin-left: .75em;
}

.mark-read {
    color: var(--dark-grayish-blue)
}
.mark-read:hover {
    color: var(--blue);
    cursor: pointer;
}

/*//////////////
    Notification
//////////////*/

h2 {
    font-size: 1em;
    padding-right: .25em;
}
h2:hover {
    color: var(--blue);
    cursor: pointer;
}

a {
    margin-left: .25em;
    color: var(--blue);
    font-weight: bold;
}

.notification-link-post {
    color: var(--dark-grayish-blue);
}

a:hover {
    color: var(--blue);
    cursor: pointer;
}

.notification-list {
    list-style: none;
}

.notification-list-item {
    display: flex;
    
    margin: .25em 0;
    padding: 1em;

    border-radius: 10px;
}

.notification-list-item:last-of-type {
    padding-bottom: 0;
}

.notification-content-flex{
    width: 100%;
}

.notification-content-flex{
    display: flex;
    justify-content: space-between;
}

.notification-profile-img {
    display: block;

    width: 50px;
    height: 50px;

    margin-right: 1em;
}

.notification-text > * {
    display: inline;
}

.unread-icon {
    display: inline-block;

    width: 8px;
    height: 8px;

    border-radius: 50%;

    margin-left: .25em;

    background-color: red;
}

.time-past{
    display: block;

    margin-top: .25em;

    color: var(--grayish-blue);

    font-size: .9em;
}

.notification-message {
    border: 1px solid var(--light-grayish-blue-2);
    border-radius: 6px;

    padding: 1em;

    margin-top: .75em;

    max-width: 570px
}
.notification-message:hover {
    background-color: var(--light-grayish-blue-2);

    cursor: pointer;
}

.unread {
    background-color: var(--light-grayish-blue-1);
}


.notification-post-img {
    width: 50px;
    height: 50px;

    cursor: pointer;
}
