:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(228, 70%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 96%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', Arial, sans-serif;
    font-size: 16px;

    display: grid;
    place-content: center;

    background-color: var(--very-light-grayish-blue);

    min-height: 100vh;
}

main {
    background-color: var(--white);

    max-width: 725px;

    padding: 1em 2em;
}

/*//////////////
    Font
//////////////*/
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf') format('truetype');
  }
  
@font-face {
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
src: url('./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf') format('truetype');
}



/*//////////////
    Head
//////////////*/

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5em 0 1.5em 0;
}

.unread-num {
    display: inline;
}

.mark-read {
    
}

/*//////////////
    Notification
//////////////*/

h2 {
    font-size: 1em;
    padding-right: .25em;
}

a {
    color: var
}

.notification-list {
    list-style: none;
}

.notification-list-item {
    display: flex;
    
    margin: .5em 0;
    padding: 1em;

    border-radius: 10px;
}

.notification-content-flex{
    width: 100%;
}

.notification-content-flex{
    display: flex;
    justify-content: space-between;
}

.notification-profile-img {
    display: block;

    width: 50px;
    height: 50px;

    margin-right: 1em;
}

.notification-text > * {
    display: inline;
}

.unread-icon {
    display: inline-block;

    width: 10px;
    height: 10px;

    border-radius: 50%;


    background-color: red;
}

.time-past{
    display: block;

    margin-top: .25em;
}

.notification-message {
    border: 1px solid var(--light-grayish-blue-2);
    border-radius: 6px;

    padding: 1em;

    margin-top: .75em;

    max-width: 550px
}
.notification-message:hover {
    background-color: var(--light-grayish-blue-2);
}

.unread {
    background-color: var(--light-grayish-blue-1);
}


.notification-post-img {
    width: 50px;
    height: 50px;
}